// SYNTAX TEST "Packages/SASS/Syntaxes/SCSS.sublime-syntax"

/*
  Nested selectors and &
  https://sass-lang.com/documentation/file.SASS_REFERENCE.html#nested_rules
  Variables and !global etc
  https://sass-lang.com/documentation/file.SASS_REFERENCE.html#variables_

  The position immediately after a selector need to be scoped meta.selector too.
  This prevents triggering the :; snippet for CSS.
*/
#main h1+.sub:not(.class) {
//    ^^^^^^^^^^^^^^^^^^^^ meta.selector.css
//    ^^ entity.name.tag.css
//     ^ - constant.numeric
//      ^ punctuation.separator.combinator.css
//           ^ punctuation.definition.entity.css
//               ^ punctuation.definition.group.begin
//                        ^ punctuation.section.property-list.begin
  color: #00ff00;
  height: 97%;
  animation: progress-fade-in-animation .15s ease-in;
//            ^ - meta.selector
//                   ^ - keyword.operator
//                         ^ - keyword.operator
  object-fit: scale-down;
// ^ support.type.property-name.css
// ^ - meta.selector
//      ^ - keyword.operator
  $width: 5em !global;
//^^^^^^ variable.declaration.scss
//^ punctuation.definition.variable.scss
//            ^^^^^^^ keyword.other.scss
  width: $width;
//^^^^^ meta.property-name.css
// ^ support.type.property-name.css
//     ^ punctuation.separator.key-value.css
//      ^^^^^^^ meta.property-value.css
//       ^^^^^^ variable.other.scss
//       ^ punctuation.definition.variable.scss
//             ^ punctuation.terminator.statement.css

  .redbox:hover {
    background-color: #ff0000;
    color: #000000;
  }
  & {}
//^^ meta.selector.css
  &:hover { text-decoration: underline; }
//^^^^^^^^ meta.selector.css
//^ keyword.operator.ampersand.scss
// ^ entity.other.pseudo-class.css punctuation.definition.entity.css
  body.firefox ~ & { font-weight: normal; }
//^^^^^^^^^^^^^^^^^ meta.selector
//             ^ punctuation.separator.combinator.css
//               ^ keyword.operator.ampersand.scss
  &-bemish {  }
//^ keyword.operator.ampersand.scss
// ^^^^^^^ entity.other.attribute-name.css
// ^^^^^^^^ meta.selector.css
}
// <- punctuation.section.property-list.end.css


/*
  Nested properties
  https://sass-lang.com/documentation/file.SASS_REFERENCE.html#nested_properties
*/
.funky {
  font: {
//  ^ meta.property-name.css support.type.property-name.css
    family: fantasy;
//                ^ meta.property-value.css support.constant.font-name.css
//  ^ meta.property-name.css support.type.property-name.css
    size: 1rem*$ratio;
//  ^ meta.property-name.css support.type.property-name.css
    weight: bold;
//  ^ meta.property-name.css support.type.property-name.css
  }
  font: 20px/24px fantasy {
//                ^ meta.property-value.css support.constant.font-name.css
//  ^ meta.property-name.css support.type.property-name.css
    weight: bold;
//  ^ meta.property-name.css support.type.property-name.css
    width: calc((100px - 20px) / 2);
//              ^ punctuation.definition.group - string
  }
}


/*
  Comments
  https://sass-lang.com/documentation/file.SASS_REFERENCE.html#comments
  block comment contains #{ $variable }
  block comment contains #{ function($variable) + "escap\e" + -.5em }
*/
// <- comment.block.css punctuation.definition.comment.css

// line comment
// line comment contains #{ $variable }
// line comment contains #{ function($variable) + "escap\e" + -.5em }
// <- comment.line.double-slash.scss punctuation.definition.comment.css


/*
  Strings, (un)quoted, operations and interpolation
  https://sass-lang.com/documentation/file.SASS_REFERENCE.html#sass-script-strings
  https://sass-lang.com/documentation/file.SASS_REFERENCE.html#interpolation_
  https://sass-lang.com/documentation/file.SASS_REFERENCE.html#string_operations

*/
@mixin firefox-message($selector) {
// <- meta.at-rule.scss punctuation.definition.keyword.scss
// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.at-rule.scss
// ^ keyword.control.at-rule.scss
//     ^^^^^^^^^^^^^^^ entity.name.function.scss
//                    ^ meta.group.scss meta.function.parameters.scss punctuation.definition.group.begin.scss
//                              ^ meta.group.scss meta.function.parameters.scss punctuation.definition.group.end.scss
//                     ^^ meta.function.parameters.scss variable.other.scss
//                     ^ punctuation.definition.variable.scss
  body.firefox #{$selector}:before {
//             ^^^^^^^^^^^^ meta.group.interpolation.scss
//             ^ punctuation.definition.variable.scss
//              ^ punctuation.definition.group.begin.scss
//               ^^^^^^^^^ variable.other.scss
//               ^ punctuation.definition.variable.scss
//                        ^ punctuation.definition.group.end.scss
//                         ^ punctuation.definition.entity.css
//                          ^ entity.other.pseudo-element.css

    content: "Hi, Firefox users!";
//           ^^^^^^^^^^^^^^^^^^^^ meta.property-value.css string.quoted.double.css
//           ^ punctuation.definition.string.begin.css
//                              ^ punctuation.definition.string.end.css
    content: 'Hi, Firefox users!';
//           ^^^^^^^^^^^^^^^^^^^^ meta.property-value.css string.quoted.single.css
//           ^ punctuation.definition.string.begin.css
//                              ^ punctuation.definition.string.end.css
    background: url(data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7);
//                  ^^^^^ string.unquoted.css
  }
  p::before; {
    background-image: some bullshit string;
//                    ^^^^^^^^^^^^^^^^^^^^ - string
    cursor: e + -resize;
//          ^ string.unquoted
//           ^ - string
//            ^ keyword.operator.scss
//             ^ - string
//              ^^^^^ string.unquoted
    content: "Foo " + Bar;
//               ^ string.quoted.double
//                    ^ string.unquoted
//                       ^ - string
//                  ^ keyword.operator.scss
    font-family: sans- + "serif";
//               ^^^^^ string.unquoted
//                              ^ - string
//                     ^ keyword.operator.scss
    content: "I ate #{5 + 10} pies!";
//           ^^^^^^^^^^^^^^^^^^^^^^^ string.quoted.double
//                  ^^^^^^^^^ meta.group.interpolation.scss
//                  ^ punctuation.definition.variable.scss
//                   ^ punctuation.definition.group.begin.scss
//                    ^ constant.numeric.css
//                      ^ keyword.operator.scss
//                        ^ constant.numeric.css
//                          ^ punctuation.definition.group.end.scss
    content: "I ate #{$value} pies!";
//                    ^^^^^^ variable.other.scss
//                    ^ punctuation.definition.variable.scss
    @include breathe(somestring);
//                   ^ string.unquoted.css
//                             ^ - string
    @include breathe(border-bottom-color);
//                   ^^^^^^^^^^^^^^^^^^^ support.type.property-name.css
  }
}

@include firefox-message(".header" + test);
//                       ^^^^^^^^^ meta.group.scss meta.function.parameters.scss string.quoted.double.css
//                                 ^ keyword.operator.scss
//                                   ^ string.unquoted.css
//                                       ^ - string


/*
  Lists, Maps
  https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
*/
$map: (
  $key-1: #000,
  key-2: (
    key-3: 123px
  )
);
@each $animal, $color, $cursor in (puma, black, default),
                                  (sea-slug, blue, pointer),
                                  (egret, white, move) {
  .#{$animal}-icon {
    background-image: url('/images/#{$animal}.png');
    border: 2px solid $color;
    cursor: $cursor;
  }
}
.selector {
  color: nth(map-merge($map, $map2), 3);
//       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.property-value.css meta.function-call.scss
//       ^^^ support.function.scss
//          ^ punctuation.definition.group.begin.scss
//           ^^^^^^^^^^^^^^^^^^^^^^^^^ meta.function.parameters.scss
//           ^^^^^^^^^ support.function.scss
//                    ^ punctuation.definition.group.begin.scss
//                         ^ punctuation.separator.css
//                                ^ punctuation.definition.group.end.scss
}


/*
  Operators
  https://sass-lang.com/documentation/file.SASS_REFERENCE.html#operations
*/

p {
  width: $base-width + 2 * -5rem / -$var;
//                    ^^^^^^^^^^^^^^^^^^ - string
//                     ^ constant.numeric
//                       ^ keyword.operator.scss
//                         ^^^^ constant.numeric
//                           ^^ keyword.other.unit.css
//                               ^ keyword.operator.scss
//                                 ^ keyword.operator.scss
//                                  ^^^^ variable.other.scss
}


/*
  Color Operations
  https://sass-lang.com/documentation/file.SASS_REFERENCE.html#color_operations
*/
$translucent-red: rgba(255, 0, 0, 0.5);
//                ^^^^ support.function.misc.css
p {
  color: opacify($translucent-red, 0.3);
//       ^^^^^^^ support.function.scss
//              ^ punctuation.definition.group.begin.scss
//                                    ^ punctuation.definition.group.end.scss
  background-color: transparentize($translucent-red, 0.25);
//                  ^^^^^^^ support.function.scss
}
